<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="modal-follower.css" />
    <link rel="stylesheet" href="layout.css" />
  </head>
  <body>
    <div class="modal">
      <div class="modal__overlay"></div>
      <div class="modal__follower--content">
        <div class="modal__follower--header">
          <div class="modal__follower--header-item">
            <span class="modal__follower--header-title"> Người theo dõi</span>
            <span class="modal__follower--header-count">20K</span>
          </div>
          <div class="modal__follower--header-item modal__header--item-active">
            <span class="modal__follower--header-title">Đang theo dõi</span>
            <span class="modal__follower--header-count">20K</span>
          </div>
        </div>
        <div class="modal__user--container">
          <div class="modal__follower--user">
            <div class="modal__follower--avatar">
              <img
                class="modal__follower--avatar-img"
                src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t39.30808-6/351451162_820515082753007_4802230003113620194_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=9c7eae&_nc_eui2=AeEM3RnKKIeYG2PTCSTrRkSZlCkOHrapbviUKQ4etqlu-HFT56nOdglWvm8kl1WyfPRLAVHYXT4qCxnF-4kXY5bE&_nc_ohc=2897gCCuMP4AX-xCFyy&_nc_ht=scontent.fsgn2-6.fna&cb_e2o_trans=q&oh=00_AfD6crnfO2bTGuckqhtCvAGoNgkLtmPU9eSzuLra6evNJw&oe=658CA009"
                alt=""
              />
            </div>
            <div class="modal__follower--infor">
              <span class="modal__follower--username"> dattananan </span>
              <div class="modal__follower--action">
                <button class="modal__follower--action-button" type="button">
                  Theo dõi
                </button>
              </div>
            </div>
          </div>
          <div class="modal__follower--user">
            <div class="modal__follower--avatar">
              <img
                class="modal__follower--avatar-img"
                src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t39.30808-6/351451162_820515082753007_4802230003113620194_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=9c7eae&_nc_eui2=AeEM3RnKKIeYG2PTCSTrRkSZlCkOHrapbviUKQ4etqlu-HFT56nOdglWvm8kl1WyfPRLAVHYXT4qCxnF-4kXY5bE&_nc_ohc=2897gCCuMP4AX-xCFyy&_nc_ht=scontent.fsgn2-6.fna&cb_e2o_trans=q&oh=00_AfD6crnfO2bTGuckqhtCvAGoNgkLtmPU9eSzuLra6evNJw&oe=658CA009"
                alt=""
              />
            </div>
            <div class="modal__follower--infor">
              <span class="modal__follower--username"> dattananan </span>
              <div class="modal__follower--action">
                <button class="modal__follower--action-button" type="button">
                  Theo dõi
                </button>
              </div>
            </div>
          </div>
          <div class="modal__follower--user">
            <div class="modal__follower--avatar">
              <img
                class="modal__follower--avatar-img"
                src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t39.30808-6/351451162_820515082753007_4802230003113620194_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=9c7eae&_nc_eui2=AeEM3RnKKIeYG2PTCSTrRkSZlCkOHrapbviUKQ4etqlu-HFT56nOdglWvm8kl1WyfPRLAVHYXT4qCxnF-4kXY5bE&_nc_ohc=2897gCCuMP4AX-xCFyy&_nc_ht=scontent.fsgn2-6.fna&cb_e2o_trans=q&oh=00_AfD6crnfO2bTGuckqhtCvAGoNgkLtmPU9eSzuLra6evNJw&oe=658CA009"
                alt=""
              />
            </div>
            <div class="modal__follower--infor">
              <span class="modal__follower--username"> dattananan </span>
              <div class="modal__follower--action">
                <button class="modal__follower--action-button" type="button">
                  Theo dõi
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
