<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="newfeed.css" />
    <link rel="stylesheet" href="layout.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="container">
      <section class="main">
        <div class="main__content">
          <div class="main__post">
            <img
              class="main__post--avatar"
              src="https://vtv1.mediacdn.vn/zoom/640_400/2022/3/4/avatar-jake-neytiri-pandora-ocean-1646372078251163431014-crop-16463720830272075805905.jpg"
              alt=""
            />
            <button class="main__post--link">Bắt đầu Thread...</button>
            <button class="main__post--button">Đăng</button>
          </div>

          <div class="main__status">
            <div class="main__status--ava-contain">
              <img
                class="main__post--avatar"
                src=" https://vtv1.mediacdn.vn/zoom/640_400/2022/3/4/avatar-jake-neytiri-pandora-ocean-1646372078251163431014-crop-16463720830272075805905.jpg"
                class="main__status--ava"
                alt=""
              />
              <span class="main__status--button-follow">+</span>
            </div>

            <div class="main__status--content">
              <div class="main__status--header">
                <div class="main__status--username">sunnews</div>
                <div class="main__status--time">50 phút</div>
                <div class="main__status--action">
                  <i
                    class="bx bx-dots-horizontal-rounded main__status--action-icon"
                  ></i>
                </div>
              </div>
              <div>
                <div class="main__status--text">Thread 1 ảnh</div>
                <div class="main__status--image-contain">
                  <img
                    class="main__status--image"
                    src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/411364976_1151084712828327_4686106530306112763_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=dd5e9f&_nc_eui2=AeGDUcC2tjU0zyh5e2Kn2kp124ph82A9TnPbimHzYD1Oc5DNU-8WewloFSjxDhd5CMUfR6U5CPsQ6bpkTsaeAfaa&_nc_ohc=l9D3TwcviAUAX-1S4xB&_nc_ht=scontent.fsgn2-7.fna&cb_e2o_trans=q&oh=00_AfBa5tb6VpK3hrMoBMT16uloWgFlR36NPuPUG9YOKvlKpg&oe=658C16A3"
                    alt=""
                  />
                </div>
                <div class="main__status--action">
                  <i class="bx bx-heart main__status--heart"></i>
                  <i class="fa-regular fa-comment"></i>

                  <!-- active -->
                  <!-- <i style="color:#ff3040" class="bx bxs-heart main__status--heart"></i> -->
                </div>
                <div class="main__status--statistic">
                  <span>3 Thread trả lời</span>
                  <span>∙</span>
                  <span>3222 Lượt thích</span>
                </div>
              </div>
            </div>
          </div>
          <div class="main__status">
            <div class="main__status--ava-contain">
              <img
                class="main__post--avatar"
                src=" https://vtv1.mediacdn.vn/zoom/640_400/2022/3/4/avatar-jake-neytiri-pandora-ocean-1646372078251163431014-crop-16463720830272075805905.jpg"
                class="main__status--ava"
                alt=""
              />
              <span class="main__status--button-follow">+</span>
            </div>

            <div class="main__status--content">
              <div class="main__status--header">
                <div class="main__status--username">sunnews</div>
                <div class="main__status--time">50 phút</div>
                <div class="main__status--action">
                  <i
                    class="bx bx-dots-horizontal-rounded main__status--action-icon"
                  ></i>
                </div>
              </div>
              <div>
                <div class="main__status--text">Thread 2 ảnh</div>
                <div class="main__status--2-image-contain">
                  <img
                    class="main__status--2-image"
                    src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/411364976_1151084712828327_4686106530306112763_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=dd5e9f&_nc_eui2=AeGDUcC2tjU0zyh5e2Kn2kp124ph82A9TnPbimHzYD1Oc5DNU-8WewloFSjxDhd5CMUfR6U5CPsQ6bpkTsaeAfaa&_nc_ohc=l9D3TwcviAUAX-1S4xB&_nc_ht=scontent.fsgn2-7.fna&cb_e2o_trans=q&oh=00_AfBa5tb6VpK3hrMoBMT16uloWgFlR36NPuPUG9YOKvlKpg&oe=658C16A3"
                    alt=""
                  /><img
                    class="main__status--2-image"
                    src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/411364976_1151084712828327_4686106530306112763_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=dd5e9f&_nc_eui2=AeGDUcC2tjU0zyh5e2Kn2kp124ph82A9TnPbimHzYD1Oc5DNU-8WewloFSjxDhd5CMUfR6U5CPsQ6bpkTsaeAfaa&_nc_ohc=l9D3TwcviAUAX-1S4xB&_nc_ht=scontent.fsgn2-7.fna&cb_e2o_trans=q&oh=00_AfBa5tb6VpK3hrMoBMT16uloWgFlR36NPuPUG9YOKvlKpg&oe=658C16A3"
                    alt=""
                  />
                </div>
                <div class="main__status--action">
                  <i class="bx bx-heart main__status--heart"></i>
                  <i class="fa-regular fa-comment"></i>

                  <!-- active -->
                  <!-- <i style="color:#ff3040" class="bx bxs-heart main__status--heart"></i> -->
                </div>
                <div class="main__status--statistic">
                  <span>3 Thread trả lời</span>
                  <span>∙</span>
                  <span>3222 Lượt thích</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
