<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="layout.css" />
    <link rel="stylesheet" href="notification.css" />
  </head>
  <body>
    <div class="notification">
      <div class="notification__control--container">
        <div class="notification__control">
          <button class="notification__control--button">Tất cả</button>
        </div>
        <div class="notification__control">
          <button class="notification__control--button">Tất cả</button>
        </div>
        <div class="notification__control">
          <button
            class="notification__control--button notification__control--button-active"
          >
            Tất cả
          </button>
        </div>
        <div class="notification__control">
          <button class="notification__control--button">Tất cả</button>
        </div>
        <div class="notification__control">
          <button class="notification__control--button">Tất cả</button>
        </div>
      </div>
      <div class="notification__list">
        <div class="notification__item">
          <div class="notification__item--avatar">
            <img
              class="notification__item--img"
              src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t39.30808-6/351451162_820515082753007_4802230003113620194_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=9c7eae&_nc_eui2=AeEM3RnKKIeYG2PTCSTrRkSZlCkOHrapbviUKQ4etqlu-HFT56nOdglWvm8kl1WyfPRLAVHYXT4qCxnF-4kXY5bE&_nc_ohc=2897gCCuMP4AX-xCFyy&_nc_ht=scontent.fsgn2-6.fna&cb_e2o_trans=q&oh=00_AfD6crnfO2bTGuckqhtCvAGoNgkLtmPU9eSzuLra6evNJw&oe=658CA009"
              alt=""
              srcset=""
            />
          </div>
          <div class="notification__item--infor">
            <div class="notification__item--title">
              <span class="notification__item--username"> duch.25 </span>
              <span class="notification__item--time"> 1 tuần </span>
            </div>
            <div class="notification__item--content">
              <span class="notification__item--detail">
                Mới tham gia thread
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
